# IntelliJ IDEA
.idea/
*.iml
out/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Spring Boot runtime
*.pid

# Environment configs
.env
application-*.yml
application-*.properties

# Docker
**/docker-compose.override.yml
